.container {
    padding: 30px 0;
}

.title {
    color: var(--gui-color-grey-lighten-1);
    padding-bottom: 8px;
}

.empty {
    text-align: center;
}

.transactionsByDate {
    margin-bottom: 15px;
}


.date {
    font-weight: 500;
    font-size: 14px;
    color: var(--gui-color-grey-lighten-2);
    margin-bottom: 6px;
}

.link {
    text-align: right;
}

.link a {
    color: var(--gui-color-primary);
    padding: 10px 0;
    font-weight: bold;
    font-size: 13px;
}