.container {
    padding-top: 100px;
    padding-bottom: 10px;
    color: var(--gui-color-grey-lighten-1);
    background-image: var(--gui-color-primary-gradient);
    border-bottom-left-radius: var(--gui-border-radius-base);
    border-bottom-right-radius: var(--gui-border-radius-base);
    box-shadow: var(--gui-shadow-base);
}