.container {
    color: var(--gui-color-grey);
    background-color: var(--gui-color-white);
    box-shadow: var(--gui-shadow-base);
    border-radius: var(--gui-border-radius-base);
    min-width: 170px;
    max-width: 170px;
    height: 120px;
    padding: 12px 10px;
}

.current {
    color: var(--gui-color-white);
    background-color: var(--gui-color-secondary);
    box-shadow: var(--gui-shadow-secondary);
}

.name {
    opacity: .5;
    font-weight: 600;
    font-size: 12px;
    margin: 0;
}

.amount {
    font-size: 24px;
    font-weight: 700;
    margin: 3px 0 8px 0;
}

.balance {
    display: flex;
    flex-direction: column;
}

.credit {
    color: var(--gui-color-success);
}

.debit {
    color: var(--gui-color-danger);
}

.credit, .debit {
    font-weight: 600;
    font-size: 12px;
    margin: 3px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}